# Quiz mit Fragen aus Pronoia, Austrian Economics, guten Zitaten
# Fragen, um Menschen zum Nachdenken anzuregen, aus diversen Themengebieten

# What is the only real test of intelligence? a) Whether you get what you want out of life, b) whether you are a good citizen and do as you're told
# How do you know you are on the right path? a) Because you are happy, b) Because you are doing what is expected of you.
# What is more effective than work? a) Play. It builds synapses more quickly easily.
# If you wait until you are ready, how long will you continue to wait? a) not much longer, as you will be ready soon, b) for the rest of your life.
# Is there a cost to staying where you are, even though you are unhappy? a) No, since I am not taking a risk, there is no cost. b) Yes: everything you miss out on by not doing it, as well as your life and your finite time.

# Bonus questions or thoughts
# # Which three miracles are most likely to happen to you today?
# ... see Pronoia